{%extends "base.html"%}



{%block content %}


{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="flash-message alert alert-{{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}


<div class="container_act">


  <div class="activity_form">
    
      <h1>Activity</h1>
      <div class="input-group">
        <input type="text" class="form-control" id="activityInput" placeholder="Write your activity..." oninput="activityPageBtn(this.value)">
        <input type="time" id="durationInput" class="form-control" style="display: none;">
        <a href="#" class="btn btn-dark" id="activitySubmit" style="display: none;">Add activity</a>
        </div>
    
    <div id="activityDisplay">
      <h3 id="added" style="display:none;""></h3>

      <div class="obrActivity">
        

      </div>

    </div>

  </div>




</div>

<script src="{{ url_for('static', filename='activities.js') }}"> </script>

{%endblock%}